<h2>Prehistoric Creatures</h2>

<form method="POST" action="/prehistoric_creatures/<%=creatureId%>/?_method=PUT">
    <label>Image</label>
    <input type="text" name="img_url" value="<%= myCreature.img_url %>">
    <label>Type</label>
    <input type="text" name="type" value="<%= myCreature.type %>">
    <input type="submit"  value="Update Creature!">
</form>