<h2>Prehistoric Creatures</h2>

<ul>
  <% myCreature.forEach((creature, id) => { %>
      <a href="/prehistoric_creatures/<%= id %>">  
          
          <li><%= creature.type %>
            <a href="/prehistoric_creatures/edit/<%= id %>">Edit</a>
            <form method="POST" action="/prehistoric_creatures/<%= id %>/?_method=DELETE">
              <input type="submit" value="Delete">
          </form>
          </li>
      
      </a>
  <% }); %>
</ul>